<div class="container">
  <%= link_to root_path do %>
    <i id="previous-chevron" class="fas fa-chevron-left"></i>
  <% end %>
  <div class="black-title">
    <h1>C'est parti</h1>
  </div>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
   <%= render "devise/shared/error_messages", resource: resource %>

   <div class="field">
    <%= f.input :first_name,
          label: false,
          autofocus: true,
          autofocus: true,
          placeholder: "Prénom" %>
   </div>
   <div class="field">
     <%= f.input :last_name,
          label: false,
          autofocus: true,
          autofocus: true,
          placeholder: "Nom" %>
   </div>
   <div class="field">
     <%= f.email_field :email,
          autofocus: true,
          autocomplete: "email",
          placeholder: "Adresse e-mail" %>
   </div>

   <div class="field">
     <%= f.password_field :password,
          label: false,
          autocomplete: "new-password",
          placeholder: "Mot de passe (6 caractères minimum)" %>
   </div>

   <div class="actions">
     <%= f.submit "Sign up" %>
   </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>

