<div class="m-4">
  <div class="flex justify-center mt-4">
    <!-- This example requires Tailwind CSS v2.0+ -->
    <nav aria-label="Progress">
      <ol class="flex items-center">
        <li class="relative pr-8 sm:pr-20">
          <!-- Completed Step -->
          <div class="absolute inset-0 flex items-center" aria-hidden="true">
            <div class="h-0.5 w-full bg-blue-400"></div>
          </div>
          <a href="#" class="relative w-8 h-8 flex items-center justify-center bg-blue-400 rounded-full hover:bg-blue-900">
            <!-- Heroicon name: check -->
            <svg class="w-5 h-5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">Step 2</span>
          </a>
        </li>
        <li class="relative pr-8 sm:pr-20">
          <!-- Completed Step -->
          <div class="absolute inset-0 flex items-center" aria-hidden="true">
            <div class="h-0.5 w-full bg-blue-400"></div>
          </div>
          <a href="#" class="relative w-8 h-8 flex items-center justify-center bg-blue-400 rounded-full hover:bg-blue-900">
            <!-- Heroicon name: check -->
            <svg class="w-5 h-5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">Step 2</span>
          </a>
        </li>
        <li class="relative pr-8 sm:pr-20">
          <!-- Current Step -->
          <div class="absolute inset-0 flex items-center" aria-hidden="true">
            <div class="h-0.5 w-full bg-gray-200"></div>
          </div>
          <a href="#" class="relative w-8 h-8 flex items-center justify-center bg-white border-2 border-blue-400 rounded-full" aria-current="step">
            <span class="h-2.5 w-2.5 bg-blue-400 rounded-full" aria-hidden="true"></span>
            <span class="sr-only">Step 3</span>
          </a>
        </li>
        <li class="relative">
          <!-- Upcoming Step -->
          <div class="absolute inset-0 flex items-center" aria-hidden="true">
            <div class="h-0.5 w-full bg-gray-200"></div>
          </div>
          <a href="#" class="group relative w-8 h-8 flex items-center justify-center bg-white border-2 border-gray-300 rounded-full hover:border-gray-400">
            <span class="h-2.5 w-2.5 bg-transparent rounded-full group-hover:bg-gray-300" aria-hidden="true"></span>
            <span class="sr-only">Step 5</span>
          </a>
        </li>
      </ol>
    </nav>
  </div>
  <div class="text-center mt-4">
    <h2 class="text-2xl mx-auto font-medium text-gray-600">Merci <%= current_user.first_name %></h2>
    <p class="text-sm font-light mt-2 text-gray-600"></p>
  </div>

  <div>
    <%= simple_form_for @program do |f| %>
      <div id="program-form-div" class="mt-4">
        <div class="text-center">
          <h3 class="text-center">Quand souhaiteriez-vous arrêter de fumer ?</h3>
          <p class="text-sm font-light mt-1 text-gray-600">Nous préconisons entre 20 jours et 6 mois</p>
        </div>
        <div class="text-center mt-4 px-4">
          <div>
            <p class="text-xs text-gray-600">Séléctionner le <span>début</span> de votre programme</p>
            <%= f.input  :program_start,
                          as: :string,
                          required: false,
                          label: false,
                          input_html: {id: "range_start", class:"border rounded"} %>
          </div>
          <div class="mt-4">
            <p class="text-xs text-gray-600">Séléctionner la <span>fin</span> de votre programme</p>
            <%= f.input  :program_end,
                          as: :string,
                          required: false,
                          label: false,
                          input_html: {id: "range_end", class:"border rounded" } %>
          </div>
        </div>
      </div>

      <div class="mt-4 text-center">
        <p>Du <span id="start_date" class="font-bold">_________</span> au <span id="end_date" class="font-bold">_________</span></p>
        <p>Soit <span id="total-days" class="font-bold">0</span> jours</p>
        <div class="mt-4 flex items-center">
          <p class="mr-2"></p>
          <div id="gradient-difficulty" class="bg-gradient-to-r from-red-500 via-blue-500 to-green-500 h-12 w-full"></div>
          <p class="ml-2"></p>
        </div>
        <p id="text_difficulty">Difficulté du programme</p>
      </div>
      <!-- hidden field to pass init_smoke == average_cigarettes_per_day -->
        <%= f.input :init_smoke,
                    as: :hidden,
                    input_html: {value: current_user.average_cigarettes_per_day } %>
      <div class="mt-8 text-center">
        <%= f.submit "Choisir son univers", class:"text-white font-normal text-base no-underline bg-gray-300 px-24 py-4 rounded-3xl" %>
      </div>
    <% end %>
  </div>
</div>
