<div class="container">
  <div class="inline-header">
    <%= link_to root_path do %>
      <i id="previous-chevron" class="fas fa-chevron-left"></i>
    <% end %>
    <h2>Ravis de vous revoir</h1>
  </div>

  <div id="sign_in_form">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.input :email,
             input_html: { class: "field-input" },
             autofocus: true,
             label: false,
             required: true,
             autocomplete: "email",
             placeholder: "Adresse e-mail" %>
      </div>

      <div class="field">
        <%= f.input :password,
             input_html: { class: "field-input" },
             label: false,
             required: true,
             autocomplete: "new-password",
             placeholder: "Mot de passe (6 caractères minimum)" %>
      </div>
      <div class="fogotten-password">
        <%= link_to "Vous avez oublié votre mot de passe ?", new_password_path(resource_name) %>
      </div>

      <div class="btn-container">
        <%= f.submit "Se connecter", class:"btn-large btn-green" %>
      </div>
    <% end %>
  </div>

  <div id="or">
    <p>OU</p>
  </div>

  <div class="btn-container">
    <%= link_to "Se connecter avec Facebook", root_path, class:"btn-fb-blue-in" %>
  </div>

</div>
